<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TruckStop</title>
    <link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="icon" href ="img/favicon.ico">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div id="heading" class="row">
	<div class="small-6 columns">
		<h1 id="title" class="subheader">
			Truck Stop
		</h1>	
	</div>
	<div class="small-2 columns">
		<input id="btnnotification" type="submit" class="tiny button round" style="background-color:brown;color:white;font-weight:bold;" value="Notification">
	</div>
	<div class="small-2 columns">
		<input id="btnprofile" type="submit" class="tiny button round" style="background-color:brown;color:white;font-weight:bold;" value="Profile">
	</div>
	<div class="small-2 columns">
		<input id="btnlogout" type="submit" class="tiny button round" style="background-color:brown;color:white;font-weight:bold;" value="Logout">
	</div>
</div>
<div id ="mainContainer" class="row">
	<br>
	<br>
	<div class="small-4 columns">
	<input id="btnsubscription" type="submit" class="tiny button round" style="background-color:brown;color:white;font-weight:bold;" value="Manage Subscription">	
	<h5 id="h3"><b>Your Subscriptions </b></h5>
	</div>
	
	<div class="small-8 columns">
	<br>
		<input id="searchbar" type="search" style="background-color:white;font-weight:bold;" value="">
		<input id="subscribenow" type="submit" class="small button round" style="background-color:brown;color:white;font-weight:bold;" value="SEARCH">
		<h3 id="h4"><b>Search Result </b></h3>
		<br>
		<input id="subscribenow" type="submit" class="small button round" style="background-color:brown;color:white;font-weight:bold;" value="Subscribe">
	</div>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>