<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TruckStop</title>
    <link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="icon" href ="img/favicon.ico">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div id="heading" class="row">
	<div class="small-6 columns">
		<h1 id="title" class="subheader">
			Truck Stop
		</h1>	
	</div>
	<div class="small-2 columns">
	<br>
		<label>Username</label>
		<input id="txtusername" type="text">
	</div>
	<div class="small-2 columns">
	<br>
		<label>Password</label>
		<input id="txtpassword" type="password">
	</div>
	<div class="small-2 columns" style="padding-top:5px">
	<br>
	<br>
		<input id="btnsignin" type="submit" class="tiny button round" style="background-color:brown;color:white;font-weight:bold;" value="Sign in">
	</div>
</div>
<div id ="mainContainer" class="row">
	<br>
	<br>
	<h3 id="h3">Don't have an account,<br> sign up now!!!</h3>
	
	<div class="small-3 columns">
		<label id="lblfirstname">First Name</label>
		<label id="lbllastname">Last Name</label>
		<label id="lblemail">Email Address</label>
		<label id="lblpwd">Password</label>
		<label id="lblfowner">Are you a<br> food-truck owner?</label>
	</div>
	<div class="small-2 pull-8 columns">
	<br>
		<input id="firstname" type="text">
		<input id="lastname" type="text">
		<input id="email" type="email">
		<input id="signuppassword" type="password">
		&nbsp;&nbsp;&nbsp;<input type="radio" name="radio" id="radio1" value="Yes"  >&nbsp;<span>Yes</span> &nbsp;
		<input type="radio" id="radio1" name="radio" value="No">&nbsp;<span>No</span>
		<input id="joinnow" type="submit" class="small button round" style="background-color:brown;color:white;font-weight:bold;" value="Join Now!">
	</div>
</div>
<div id="footer" class="row" >
<h1>&nbsp;</h1>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>