h1{
color:gray;
}
#heading{
background-color:lightgreen;
}
#footer{
background-color:lightgreen;
height:118px;
}
#title{
padding-left:75px;
}
label{
padding-top:10px;
font-size:14px;
font-weight:bold;
color:gray;
}
span{
font-size:15px;
font-weight:bold;
color:gray;
}
#btnsignin{
vertical-align:center;
}
#txtusername{
height:28px;
font-size:12px
}
#txtpassword{
height:28px;
font-size:12px
}
#mainContainer{
background-color:lightblue;
}
#lblfirstname{
padding-top:22px;
font-size:17px;
text-align:left;
}
#lbllastname{
font-size:17px;
text-align:left;
}
#lblemail{
font-size:16px;
text-align:left;
}
#lblpwd{
font-size:17px;
text-align:left;
}
#lblfowner{
font-size:17px;
text-align:left;
}
#firstname{
height:25px;
font-size:10px
}
#lastname{
height:25px;
font-size:10px
}
#email{
height:25px;
font-size:10px
}
#signuppassword{
height:25px;
font-size:10px
}