@font-face{
	font-family: 'newFont';
    src: url('../font/ThirstyScriptExtraBoldDemo.otf');
    font-weight: bold;
}
@font-face{
	font-family: 'newFont1';
    src: url('../font/Risque-Regular.ttf');
    font-weight: bold;
}
#heading{
/* background-color:lightgreen; */
height:10%;
/* opacity: 0.5; */
}
#footer{
/* background-color:lightgreen; */
height:10%;
bottom:0;
/* opacity: 0.5; */
}
#title{
padding-top: 10px;
padding-left:0px;
font-family: "newFont1","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight:bold;
font-size:60px;
color: white;
/* opacity: 0.5; */
}
#h3{
padding-left:10px;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight:bold;
font-style:italic;
color: white;
}
label{
padding-top:10px;
font-size:14px;
font-weight:bold;
color:white;
/* opacity: 0.5; */
}
span{
font-size:15px;
font-weight:bold;
color:white;
/* opacity: 0.5; */
}
#btnsignin{
vertical-align:center;
/* opacity: 0.5; */
}
#txtusername{
padding-top:10px;
height:28px;
font-size:12px;
/* opacity: 0.5; */
}
#txtpassword{
height:28px;
font-size:12px;
/* opacity: 0.5; */
}
#mainContainer{
/* background-color:lightblue; */
height:80%;
/* opacity: 0.5; */
}
#lblfirstname{
padding-top:22px; 
font-size:17px;
text-align:left;
/* opacity: 0.5; */
}
#lbllastname{
font-size:17px;
text-align:left;
/* opacity: 0.5; */
}
#lblemail{
font-size:16px;
text-align:left;
/* opacity: 0.5; */
}
#lblpwd{
font-size:17px;
text-align:left;
/* opacity: 0.5; */
}
#lblfowner{
font-size:17px;
text-align:left;
/* opacity: 0.5; */
}
#firstname{
height:25px;
font-size:10px;
/* opacity: 0.5; */
}
#lastname{
height:25px;
font-size:10px;
/* opacity: 0.5; */
}
#email{
height:25px;
font-size:10px;
/* opacity: 0.5; */
}
#signuppassword{
height:25px;
font-size:10px;
/* opacity: 0.5; */
}
body {
	   /* background:url('../blur-background08.jpg') no-repeat center center;   */
	   /* background:url('../food.PNG') no-repeat center center;   */
	      background:url('../img/cutlery.jpg') no-repeat center center;   
	  /* background:url('../Capture.png') no-repeat center center;  */
	  /* background:url('../social-food-truck-360.jpg') no-repeat center center;  */
	  /* background:url('../BeFunky.jpg') no-repeat center center; */
	background-size:100% 100%;
}
#imagecontainer{
	opacity: 0.8;
}